.button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 50px;
  margin-top: 20px;

  height: 50px;
  width: 70px;
  border: 1px solid red;
  background-color: #0fa3b1;
  color: #eddea4;
  font-size: x-large;
}
